<title>EPL League Table</title>
<h1>Table</h1>
<div class="container">
   
    <table id="leaguetable" class=" table table-striped table-hover "> 
        <thead>
            <tr>
                <th>#</th>
                <th>Team</th>
                <th>Matches Played</th>                
                <th>Goals Scored</th>
                <th>Goals Against</th>
                <th>Goal Difference</th>
                <th>Points</th>
            </tr>
        </thead>       
        @foreach (var player in Json.Decode(Model))
        {            
            <tbody>
                <tr>
                    <td>@player.Position</td>
                    <td>@player.Team.Name</td>
                    <td>@player.GamesPlayed</td>                    
                    <td>@player.GoalsFor</td>
                    <td>@player.GoalsAgainst</td>
                    <td>@player.GoalDifference</td>
                    <td>@player.Points</td>
                </tr>
            </tbody>
        }
    </table>
</div>